page-about {

	ion-header ion-icon.back-button-icon.icon {
		color: color($colors, white);
	}

	ion-header,
	ion-navbar {
		background-color: color($colors, dark);
		color: color($colors, white);

		.toolbar-background {
			background-color: color($colors, dark);
			color: color($colors, white);
		}

		.toolbar-title {
			background-color: color($colors, dark);
			color: color($colors, white);

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		ion-title {
			div {
				font-weight: 300;
				padding-top: 6px;
			}
		}

	}

	.about{
		background-color: color($colors, dark);

		div.logo {
			margin-bottom: 20px;
			margin-bottom: 10vh;

			img {
				display: block;
				margin: 20% auto 10px auto;
				margin: 15vh auto 5vh auto;
				width: 158px;
				height: auto;
			}

			span.version {
				display: block;
				color: color($colors, white);
				text-align: center;
			}
		}

		button.extLink {
			color: color($colors, white);

			font-size: 0.9em !important;

			margin: 8vh 0 0 0;

			text-align: center !important;

			display: block;
			text-decoration: none;

			word-wrap: break-word !important;
			white-space: normal !important;

			width: 100%;
		}

	}

}
