page-about {

	ion-header,
	ion-navbar {
		background-color: #191919;
		color: #ffffff;

		.toolbar-background {
			background-color: #191919;
			color: #ffffff;
		}

		.toolbar-title {
			background-color: #191919;
			color: #ffffff;

			font-size: 1.9rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}

	}

	.about{
		background-color: #191919;

		div.logo {
			margin-bottom: 20px;
			margin-bottom: 10vh;

			img {
				display: block;
				margin: 20% auto 10px auto;
				margin: 15vh auto 5vh auto;
				width: 158px;
				height: auto;
			}

			span.version {
				display: block;
				color: #ffffff;
				text-align: center;
			}
		}

		button.extLink {
			color: #ffffff;

			font-size: 0.9em !important;

			margin: 8vh 0 0 0;

			text-align: center !important;

			display: block;
			text-decoration: none;

			word-wrap: break-word !important;
			white-space: normal !important;

			width: 100%;
		}

	}

}
