page-terms {

	ion-header,
	ion-navbar {
		background-color: color($colors, like);
		color: color($colors, dark);

		.toolbar-background {
			background-color: color($colors, like);
			color: color($colors, dark);
		}

		.toolbar-title {
			background-color: color($colors, like);
			color: color($colors, dark);

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		ion-title {
			div {
				padding-top: 6px;
			}
		}

	}

	ion-footer,
	ion-toolbar {
		background-color: color($colors, dark);
		color: color($colors, white);

		.toolbar-background {
			background-color: color($colors, dark);
			color: color($colors, white);
		}
	}

	.terms {
		background-color: color($colors, dark);
		color: color($colors, white);

		p {
			font-family: 'Helvetica Neue', sans-serif !important;
			text-align: justify;
			line-height: 1.5;
		}

		p {
			font-family: 'Helvetica Neue', sans-serif !important;
			text-align: justify;
			line-height: 1.5;
		}

		.toolbar-content {
			display: flex;
			justify-content: space-between;

			button.cancel {
				flex-direction: row;

				background-color: color($colors, dark);
				border: 1px solid color($colors, like);
				color: color($colors, white);

				border-radius: 0px;

				width: 80%;

				font-size: 1.6rem;
				text-transform: uppercase;
				letter-spacing: 0.5rem;
			}

			button.agree {
				flex-direction: row;

				background-color: color($colors, dark);
				border: 1px solid color($colors, like);
				color: color($colors, white);

				border-radius: 0px;

				width: 80%;

				font-size: 1.6rem;
				text-transform: uppercase;
				letter-spacing: 0.5rem;
			}
		}

	}

}
