page-terms {

	ion-header,
	ion-navbar {
		background-color: #fff200;
		color: #191919;

		.toolbar-background {
			background-color: #fff200;
			color: #191919;
		}

		.toolbar-title {
			background-color: #fff200;
			color: #191919;

			font-size: 1.9rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}

	}

	ion-footer,
	ion-toolbar {
		background-color: #191919;
		color: #ffffff;

		.toolbar-background {
			background-color: #191919;
			color: #ffffff;
		}
	}

	.terms {
		background-color: #191919;
		color: #ffffff;

		.toolbar-content {
			display: flex;
			justify-content: space-between;

			button.cancel {
				flex-direction: row;

				background-color: #191919;
				border: 1px solid #fff200;
				color: #ffffff;

				width: 80%;

				font-size: 1.5rem;
				text-transform: uppercase;
				letter-spacing: 0.4rem;
			}

			button.agree {
				flex-direction: row;

				background-color: #191919;
				border: 1px solid #fff200;
				color: #ffffff;

				width: 80%;

				font-size: 1.5rem;
				text-transform: uppercase;
				letter-spacing: 0.4rem;
			}
		}

	}

}
