page-item-not-found {

	ion-header,
	ion-navbar {
		background-color: color($colors, like);
		color: color($colors, dark);

		.toolbar-background {
			background-color: color($colors, like);
			color: color($colors, dark);
		}

		.toolbar-title {
			background-color: color($colors, like);
			color: color($colors, dark);

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		ion-title {
			img {
				padding-top: 6px;
			}
		}

	}

    text-align: center;

	.title {
		font-family: SignPainter HouseScript, cursive !important;
	}

	.bg-blur {
		background-color: #191919;
		color: white;
	}

	button.match {
		background-color: #191919;
		border: 1px solid #fff200;
		color: #ffffff;

		border-radius: 0px;

		width: 80%;
		height: 2.1em;

		margin-bottom: 20px;
		padding-top: 5px;

		font-size: 1.9rem;
		text-transform: uppercase;
		letter-spacing: 0.4rem;
	}

	button.continue {
		background-color: #191919;
		border: 1px solid #fff200;
		color: #ffffff;

		border-radius: 0px;

		width: 80%;
		height: 2.1em;

		margin-bottom: 20px;
		padding-top: 5px;

		font-size: 1.9rem;
		text-transform: uppercase;
		letter-spacing: 0.4rem;
	}

	.match-avatar {
		margin: 16px 4px;
		animation: fromLeft 1s ease-in;
		&.match-right {
			animation-name: fromRight;
		}
	}

	.fadeIn {
		animation: fadeIn 1s 1s ease-in;
	}

	@keyframes fromLeft {
		0% {
			transform: translate3d(-100px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes fromRight {
		0% {
			transform: translate3d(100px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes fadeIn {
		from {opacity: 0}
		to {opacity: 1}
	}

}
