page-my-items {

	ion-header ion-icon.back-button-icon.icon {
		color: #191919;
	}

	ion-header,
	ion-navbar {
		background-color: #fff200;
		color: #191919;

		.toolbar-background {
			background-color: #fff200;
			color: #191919;
		}

		.toolbar-title {
			background-color: #fff200;
			color: #191919;

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

	}

}
