page-chat-main {

	ion-header ion-icon.back-button-icon.icon {
		color: #191919;
	}

	ion-header,
	ion-navbar {
		background-color: #fff200;
		color: #191919;

		.toolbar-background {
			background-color: #fff200;
			color: #191919;
		}

		.toolbar-title {
			background-color: #fff200;
			color: #191919;

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

	}

	.matches-thumbs {

		ion-scroll {
			height: 96px;
			white-space: nowrap;

			.matches-thumb {
				display: inline-block;
				width: 64px;
				margin-right: 12px;
				position: relative;
				margin-bottom: 12px;

				.online-status {
					background-color: color($colors, black);
					position: absolute;
					right: -8px;
					top: 26px;
					width: 16px;
					height: 16px;
					border-radius: 999em;
					border: 3px solid white;
				}
			}
		}
	}
}
