<ion-header no-border>
	<ion-navbar>
		<ion-title>Cadastrar</ion-title>

		<ion-buttons end>
			<button ion-button clear color="black" (click)="save()">
				Salvar
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>



<ion-content class="bg-custom">
	<ion-list no-lines>
		<!-- <ion-list-header>
			Imagens
		</ion-list-header> -->
		<ion-item>
			<div class="profile-images-edit">
				<div class="profile-image" *ngFor="let image of profileImages; let i = index" (click)="openPhotoPicker(i)">
					<div [style.backgroundImage]="'url(' + profileImages[i] + ')'" class="div-img img-square r-3x"></div>
					<button ion-button icon-only clear class="btn-edit" (click)="removeImage(i)" *ngIf="profileImages[i] != ''">
						<ion-icon name="md-close" color="black"></ion-icon>
					</button>
					<button ion-button icon-only clear class="btn-edit" *ngIf="profileImages[i] == ''">
						<ion-icon name="md-add-circle" color="black"></ion-icon>
					</button>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<!-- <ion-list-header>
			Título
		</ion-list-header> -->

		<ion-item class="text-muted" text-wrap>
			<input type="text" placeholder="nome da breja" />
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<!-- <ion-list-header>
			Caracteristicas
		</ion-list-header> -->

		<ion-item>
			<ion-label>Estilo</ion-label>
			<ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="estilo">
				<ion-option *ngFor="let item of beerStyles" [value]="item.id">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item>

		<!-- <ion-item>
			<ion-label>Tipo</ion-label>
			<ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="tipo">
				<ion-option *ngFor="let item of beerTypes" [value]="item.id">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Origem</ion-label>
			<ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="origem">
				<ion-option *ngFor="let item of beerOrigins" [value]="item.id">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item> -->
	</ion-list>

	<ion-list no-lines>
		<!-- <ion-list-header>
			Região
		</ion-list-header>

		<ion-item>
			<ion-input type="text" placeholder="separe com vírgulas"></ion-input>
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			Hashtags
		</ion-list-header> -->

		<!-- <ion-item class="text-muted" text-wrap>
			<input type="text" placeholder="separe com vírgulas" />
		</ion-item> -->
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			Descrição
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<ion-textarea placeholder="ex: ipa feita em casa 600ml #pronta #ipa #caseira"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-note item-end>
				<span class="text-xs">435</span>
			</ion-note>
		</ion-item>
	</ion-list>

</ion-content>
