page-item-search {

    .scroll-content {
        background: url('../../assets/img/bgWaterMark50Logo.png') no-repeat bottom center transparent;
        background-color: #ffffff;
	}

    ion-header ion-icon.back-button-icon.icon {
		color: #191919;
	}

    ion-header,
	ion-navbar {
		background-color: #fff200;
		color: #191919;

		.toolbar-background {
			background-color: #fff200;
			color: #191919;
		}

		.toolbar-title {
			background-color: #fff200;
			color: #191919;

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
        }

        ion-title {
			div {
				padding-top: 6px;
			}
		}

	}

	ion-footer,
	ion-toolbar {
		background-color: #191919;
		color: #ffffff;

		.toolbar-background {
			background-color: #191919;
			color: #ffffff;
		}
    }

    ion-list-header,
    ion-list-header * {
        background-color: transparent !important;

        border: none !important;

        font-family: 'Helvetica Neue', sans-serif !important;
        font-size: 1.6rem;
        text-transform: initial;
    }

    ion-item,
    ion-item *,
    ion-label,
    ion-input,
    ion-select {
        background-color: transparent !important;

        font-family: 'Helvetica Neue', sans-serif !important;

        font-size: 1.4rem;
    }

    // .toolbar-content {
    //     display: flex;
    //     justify-content: space-between;

        button.clean {
            background-color: #191919;
            border: 1px solid #fff200;
            color: #fff200;

            border-radius: 0px;

            width: 80%;
            height: 2.1em;

            margin: 0 auto 20px auto;
            padding-top: 5px;

            display: block;

            font-size: 2.1rem;
            text-transform: uppercase;
            letter-spacing: 0.8rem;
        }

        button.search {
            background-color: #191919;
            border: 1px solid #f8f169;
            color: #fff200;

            border-radius: 0px;

            width: 80%;
            height: 2.1em;

            margin: 0 auto 20px auto;
            padding-top: 5px;

            display: block;

            font-size: 2.1rem;
            text-transform: uppercase;
            letter-spacing: 0.8rem;
        }
    // }

}
