page-loading {

    .loading {
        background-color: color($colors, dark);

        .box {
            justify-content: space-around;
            height: 100%;

            .logo {
                img {
                    margin: 0 auto;

                    width: 118px;
                    height: auto;
                }
            }

            .info {
                color: color($colors, white);

                padding: 0 3em;

                font-size: 1.2em;
                font-weight: 700;

                margin: 0 auto;

                text-align: center;
            }
        }
    }
}
