page-side-menu {

    ion-header,
	ion-navbar {
		background-color: #191919;
		color: #ffffff;

		.toolbar-background {
			background-color: #191919;
			color: #ffffff;
		}

		.toolbar-title {
			background-color: #191919;
			color: #ffffff;

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		ion-title {
			img {
				padding-top: 6px;
			}
		}

    }

    .side-menu {
        background-color: #191919;

        ion-list {
            background-color: transparent;

            ion-item {
                color: #ffffff;
                background-color: transparent;
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2) !important;

                .userProfile {
                    font-size: 1.8rem;
                    font-weight: 800;
                    letter-spacing: 0.4rem;
                }
            }
        }
    }

}
