page-menu {

	ion-header ion-icon.back-button-icon.icon {
		color: #ffffff;
	}

	ion-header,
	ion-navbar {
		background-color: #191919;
		color: #ffffff;

		.toolbar-background {
			background-color: #191919;
			color: #ffffff;
		}

		.toolbar-title {
			background-color: #191919;
			color: #ffffff;

			font-size: 2.2rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

	}

	.bg-custom {
		background-color: #191919;
	}

	.profileArea {
		background-color: #fff200;
	}

	.menuArea {
		background-color: #fff200;
	}

	.button-round {
		border-radius: 999em;
		font-size: 14px;
		font-weight: 700;
		width: 48px;
		height: 48px;
		//background-color: color($colors, black);
		background-color: transparent;
		color: color($colors, black);
	}

	.me-bottom-bg {
		overflow: hidden;
		background-color: color($colors, bg);
	}

	.big-thumb {
		width: 90px;
		display: inline-block;
	}

	@media screen and (max-width: 320px) {
		.big-thumb {
			width: 100px;
		}
	}

	@media screen and (min-width: 321px) {
		.big-thumb {
			width: 160px;
			margin-top: 36px;
		}
	}

	.infoSlider {
		background-color: #191919;
	}

	.oval {
		width: 100%;
		height: 60px;
		background-color: #fff200;
		border-radius: 50%;
		box-shadow: 0 4px 9px 0 rgba(213,218,224,.3);
		position: relative;
		top: -30px;
	}

	.bottom-slides {
		background-color: #191919;

		height: 100px;
		margin-top: -20px;
		margin-bottom: 8px;

		p {
			color: #fff;
		}
	}

	.swiper-slide {
		font-size: 14px;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: -2px;
	}

	.swiper-pagination-bullet-active {
		background: color($colors, like);
	}

	.slide-title {
		color: #fff;
		font-size: 20px;
		font-weight: 500;
	}

	@media screen and (max-width: 320px) {
		.slide-title {
			font-size: 20px;
		}
	}

	@media screen and (min-width: 321px) {
		.slide-title {
			font-size: 28px;
		}
	}

	.offerArea {
		background-color: #191919;

		button.offer {
				background-color: #191919;
				border: 1px solid #fff200;
				color: #ffffff;

				border-radius: 0px;

				width: 90%;

				font-size: 1.9rem;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
			}
	}
}
